<header id="nav">

</header>
<section id="quote">
Quote
</section>

<section id="quantself">
	<div class="day">
		<h1><%= @day.day_date %></h1>
		<p>Sleep: <%= @day.min_slept %> | Steps: <%= @day.step_total %></p>
		<p>Commits: <%= @day.commits %></p>
    <ul class="storyline">
    <% @day.prepare_storyline.each do |story| %>
      <li>
        <time class="tmtime" datetime="<%= "#{story[:startTime]}" %>"><span><%= story[:startTime].strftime("%H:%M") %></span></time>
        <div class="tmicon <%= "#{story[:type]}" %>"></div>
        <div class="tmlabel <%= "#{story[:name]}" %>" style="width: <%= story[:width] %>%; height: <%= story[:width] %>%;"><h2><%= story[:name] %></h2></div>
      </li>
    <% end %>
    </ul>
	</div>
</section>

<section id="projects">
Projects
</section>

<section id="about">
  About
	<aside id="blog">
		Blog
	</aside>
</section>

<footer id="footer">
Footer
</footer>