<header id="nav">

</header>
<section id="header-img">

</section>
<section id="sub-nav">
</section>
<section id="quantself">
	<div class="day">
		<h1><%= @day.day_date %></h1>
		<p>Sleep: <%= @day.min_slept %> | Steps: <%= @day.step_total %></p>
		<p>Commits: <%= @day.commits %><p>
		<p>Storyline: <%= @day.storyline %></p>
	</div>
</section>

<section id="projects">

</section>

<section id="writing">
	
</section>

<footer id="footer">
</footer>