<header id="nav">
	LOGO 
	<ul class="nav">
		<li>About</li>
		<li>Contact</li>
	</ul>

	<ul class="nav pull-right social-nav">
		<li>Twitter</li>
		<li>Github</li>
	</ul>
</header>

<section id="header-img">

</section>
<section id="sub-nav">
	<ul class="nav">
		<li>Projects</li>
		<li>Writing</li>
	</ul>
</section>
<section id="quantself">
	<div class="day">
		<h1><%= @day.day_date %></h1>
		<p>Sleep: <%= @day.min_slept %> | Steps: <%= @day.step_total %></p>
		<p>Commits: <%= @day.commits %></p>
    <ul class="storyline">
    <% @day.storyline.each do |story| %>
      <li>
        <time class="tmtime" datetime="<% "#{story["startTime"]}" %>"><span><%= "#{story["startTime"]}" %></span></time>
        <div class="tmicon <% "#{story["type"]}" %>"></div>
        <div class="tmlabel <% "#{story["place"]}" %>"><h2><%= story["place"].to_a[1] %></h2></div>
      </li>
    <% end %>
    </ul>
		<ul class="storyline">
			<li>
				<time class="tmtime" datetime="2015-02-05 09:00"><span>09:00</span></time>
        <div class="tmicon tmicon-phone"></div>
        <div class="tmlabel"><h2>Home</h2></div>
      </li>
      <li>
        <time class="tmtime" datetime="2015-02-05 11:00"><span>11:00</span></time>
        <div class="tmicon tmicon-screen"></div>
        <div class="tmlabel"><h2>Communispace</h2></div>
      </li>
      <li>
        <time class="tmtime" datetime="2015-02-05 18:00"><span>18:00</span></time>
        <div class="tmicon tmicon-screen"></div>
        <div class="tmlabel"><h2>Dog Park</h2></div>
      </li>
      <li>
        <time class="tmtime" datetime="2015-02-05 18:00"><span>18:00</span></time>
        <div class="tmicon tmicon-screen"></div>
        <div class="tmlabel"><h2>Dog Park</h2></div>
      </li>
      <li>
        <time class="tmtime" datetime="2015-02-05 18:00"><span>18:00</span></time>
        <div class="tmicon tmicon-screen"></div>
        <div class="tmlabel"><h2>Dog Park</h2></div>
      </li>
      <li>
        <time class="tmtime" datetime="2015-02-05 18:00"><span>18:00</span></time>
        <div class="tmicon tmicon-screen"></div>
        <div class="tmlabel"><h2>Dog Park</h2></div>
      </li>
		</ul>
	</div>
</section>

<section id="projects">
Projects
</section>

<section id="writing">
Writing
</section>

<footer id="footer">
Footer
</footer>