<header id="nav">

</header>
<section id="quote">

</section>

<section id="quantself">
	<div class="day">
		<h1><%= @day.day_date %></h1>
		<p>Sleep: <%= @day.min_slept %> | Steps: <%= @day.step_total %></p>
		<p>Commits: <%= @day.commits %><p>
		<p>Storyline: <%= @day.storyline %></p>
	</div>
</section>

<section id="projects">
	<div class="project-grid">
		<figure class="project-effect">
			<figcaption>
				<h2>UltiTeam</h2>
				<p>Ultimate Team Management made simple</p>
				<a href="http://ultiteam.io">View more</a>
			</figcaption>
		</figure>
		<figure class="project-effect">
			<figcaption>
				<h2>QuantSelf</h2>
				<p>Quantified Self as a Service</p>
				<%= link_to 'View more', days_path %>
			</figcaption>
		</figure>
	</div>
</section>

<section id="about">
	<aside id="blog">
		Blog
	</aside>
</section>

<footer id="footer">
</footer>